.about{
    width: 100%;
    background-image: url('https://raw.githubusercontent.com/sofiarnunes/Halls-360Project/main/img/bg-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 2350px;
    @include mq(0,512px){
        width: 100%;
        overflow: hidden;
        height: 1900px;
        background-image: url('https://raw.githubusercontent.com/sofiarnunes/Halls-360Project/main/img/bg-home-mobile.jpg');
        text-align: center;
    }
    .wrapper{
        max-width: 1280px;
        @include mq(0,512px){
            max-width: 340px !important;
        }
        h2{
            text-align: center;
            font-size: 80px;
            font-weight: 700;
            color: $white;
            margin-bottom: 18px;
            line-height: 110px;
            padding-top: 50px;
            @include mq(0,512px){
                font-size: 45px;
                margin-bottom: 30px;
                padding-top: 10px;
                line-height: 55px;
                width: 300px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .sub{
            text-align: center;
            font-size: 25px;
            color: $white;
            margin-bottom: 70px;
            width: 973px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            line-height: 
            23.24px;
            @include mq(0,512px){
                display: none;
            }
        }
        .flex-container{
            margin-top: 150px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            @include mq(0,512px){
                margin-top: 60px;

            }
            .shape{
                margin-left: 80px;
                height: 400px;
                width: 400px;
                min-width: 400px;
                overflow: hidden;
                transform: rotate(45deg);
                position: relative;
                border-radius: 30px;
                @include mq(0,512px){
                    border-radius: 20px;
                    height: 200px;
                    width: 200px;
                    min-width: 200px;
                    margin-bottom: 80px;
                    margin-left: 0px;
                }
                img{
                    transform: rotate(-45deg);
                    height: 700px;
                    position: absolute;
                    bottom: -100px;
                    right: -180px;
                    @include mq(0,512px){
                        height: 350px;
                        bottom: -80px;
                        right: -120px;
                    }
                }
            }
            .info{
                max-width: 430px;
                &.right{
                    text-align: right;
                    @include mq(0,512px){
                        text-align: center;
                    }
                }
                h3{
                    font-size: 60px;
                    margin-bottom: 18px;
                    color: $white;
                    line-height: 80px;
                    @include mq(0,512px){
                        font-size: 40px;
                        margin-bottom: 25px;
                        line-height: 0px;
                    }
                }
                p{
                    width: 426px;
                    font-size: 20px;
                    line-height: 30px;
                    color: $white;
                    @include mq(0,512px){
                        font-size: 14px;
                        margin-bottom: 50px;
                        line-height: 20px;
                        width: 250px;
                        display: block;
                    }
                }
            }
            &.frst{
                margin-top: 150px;
                @include mq(0,512px){
                    margin-top: 90px;
                }
            }
            &.rev{
                flex-direction: row-reverse;
                margin-right: 70px;
                margin-left: 0;
                @include mq(0,512px){
                    margin-right: 0px;

                }
            }
        }
        .mundo{
            position: absolute;         
            left: 50%;
            transform: translateX(-50%);
            p{
                color: $white;
                font-size: 30px;
                max-width: 100%;
                margin-top: 160px;
                @include mq(0,512px){
                    font-size: 20px;
                    width: 250px;
                    position: relative;         
                    left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: 40px;
                    line-height:25px;
                    margin-top: 20px;
                }
            }
            .btn{
                position: relative;         
                left: 60px;
                top: 40px;
                @include mq(0,512px){
                    padding: 15px 50px;
                    border-radius: 15px;
                    left: 0;
                    top: 0px;
                }
            }
        }
    }
}
