.about{
    text-align: center;
    width: 100%;
    background-image: url('https://raw.githubusercontent.com/sofiarnunes/Halls-360Project/main/img/bg-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 2960px;
    @include mq(0,512px){
        width: 100%;
        overflow: hidden;
        height: 2020px;
        background-image: url('https://raw.githubusercontent.com/sofiarnunes/Halls-360Project/main/img/bg-home-mobile.jpg');
    }
    .wrapper{
        max-width: 1280px;
        @include mq(0,512px){
            max-width: 340px !important;
        }
        h2{
            font-size: 110px;
            font-weight: 700;
            color: $white;
            margin-bottom: 22px;
            line-height: 132px;
            padding-top: 253px;
            @include mq(0,512px){
                font-size: 45px;
                margin-bottom: 30px;
                padding-top: 100px;
                line-height: 55px;
                width: 300px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        p{
            font-size: 20px;
            color: $white;
            margin-bottom: 100px;
            width: 973px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            line-height: 
            27.24px;
            @include mq(0,512px){
                display: none;
            }
        }
        .flex-container{
            margin-top: 180px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            @include mq(0,512px){
                margin-top: 60px;

            }
            .shape{
                height: 450px;
                width: 450px;
                min-width: 450px;
                overflow: hidden;
                transform: rotate(45deg);
                position: relative;
                border-radius: 30px;
                @include mq(0,512px){
                    border-radius: 20px;
                    height: 200px;
                    width: 200px;
                    min-width: 200px;
                    margin-bottom: 80px;
                }
                img{
                    transform: rotate(-45deg);
                    height: 1050px;
                    position: absolute;
                    bottom: -250px;
                    right:-30px;
                    @include mq(0,512px){
                        height: 500px;
                        bottom: -150px;
                        right: -80px;
                    }
                }
            }
            .info{
                max-width: 430px;
                h3{
                    font-size: 80px;
                    margin-bottom: 22px;
                    color: $white;
                    line-height: 96px;
                    @include mq(0,512px){
                        font-size: 40px;
                        margin-bottom: 25px;
                        line-height: 0px;
                    }
                }
                p{
                    width: 426px;
                    font-size: 25px;
                    line-height: 30px;
                    @include mq(0,512px){
                        font-size: 14px;
                        margin-bottom: 50px;
                        line-height: 20px;
                        width: 250px;
                        display: block;
                    }
                }
            }
            &.frst{
                margin-top: 200px;
                @include mq(0,512px){
                    margin-top: 90px;
                }
            }
            &.rev{
                flex-direction: row-reverse;
            }
        }
        .btn-default{
            padding: 25px 135px;
            display: inline-block;
            font-size: 30px;
            letter-spacing: 3px;
            color: $dark-blue;
            background-color: $white;border-radius: 30px;
            margin-top: 220px;
            @include mq(0,512px){
                padding: 20px 50px;
                font-size: 25px;
                letter-spacing: 3px;
                border-radius: 20px;
                margin-top: 40px;
            }
        }
    }
}