.announcement{
    background-image: linear-gradient(rgba(29, 28, 81, 0.7), rgba(29, 28, 81, 0.7)),
        url("https://github.com/sofiarnunes/Halls-360Project/blob/main/img/Background_update.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    display:none;
    @include mq(0,512px){
        background-image: url("https://raw.githubusercontent.com/sofiarnunes/Halls-360Project/main/img/Imagem_Background_Mobile.png");
        width: 100%;
        overflow: hidden;
        height: 100vh;
    }
    .wrapper{
        position: relative;
        top: 50%;
        margin: 0 auto;
        max-width: 100%;
        @include mq(0,512px){
            top: 40%;
        }
        .win{
            h3{
                font-size: 50px;
                font-weight: 700;
                color: $white;
                margin-bottom: 5px;
                @include mq(0,512px){
                    font-size: 40px;
                    margin-bottom: 10px;
                }
            }
            h4{
                font-size: 39px;
                font-weight: 400;
                color: $white;
                letter-spacing: 2px;
            }
        }
        .cravas{
            img{
                width: 300px;
                margin-top: 30px;
                @include mq(0,512px){
                    width: 300px;
                    margin-top: 10%;
                }
            }
        }
        .arrow{
            i{
                color: $white;
                font-size: 30px;
                transition: all 0.2s;
                &:hover{
                    color: $light-blue;
                }
                @include mq(0,512px){
                    font-size: 40px;
                }
            }
            @include mq(0,512px){
                position: relative;
                top: 10%;
            }
        }
    }
}
