footer{
    height: 167px;
    background-color: $medium-blue;
    color: $white;
    position: relative;
    bottom: 100px;
    text-align: left;
    @include mq(0,512px){
        height: 200px;
        width: 100%;
    }
    .flex-container{
        @include mq(0,512px){
            max-width: 340px !important;
            justify-content: flex-start;

        }        
        div{
            ul{
                margin-bottom: 35px;
                li{
                    margin-bottom: 10px;
                }
            }
        }
    }
}