header {
    z-index:1;
    nav {
        background-color:$dark-blue;
        width: 100%;
        position: fixed;
        div.logo {
            display: flex;
            align-items: center;
            justify-content: center;
            height:144px;
            img {
                height: 80px;
            }
        }
    }
}
