header {
    nav {
        background-color: black;
        width: 100%;
        position: fixed;
        div.logo {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 10vh;
            }
        }
    }
}
