.prize{
    background: linear-gradient(180deg, rgba(21,20,72,1) 25%, rgba(59,140,204,1) 99%);
    height: 100vh;
    @include mq(0,512px){
        background: linear-gradient(180deg, rgba(1,15,69,1) 25%, rgba(59,140,204,1) 99%);
        width: 100%;
        overflow: hidden;
    }
    .wrapper{
        max-width: 1100px;
        height: 100vh;
        @include mq(0,512px){
            max-width: 340px;
            height: 1000px;
        }
        .text-mobile{
            text-align: center;
            display: none;
            @include mq(0,512px){
                display: block;
                margin-top: 50px;
            }
            p{
                @include mq(0,512px){
                    font-size: 14px;
                    font-weight: 400;
                    color: $white;
                    text-align: center;
                }
            }
        }
        .flex-container{
            padding-top: 70px;
            width: 100%;
            @include mq(0,512px){
                flex-direction: column;
                margin-top: 60px;
                padding-top: 0;

            }
            .prizes{
                width: 420px;
                height: 420px;
                position: relative;
                bottom: 15px;
                @include mq(0,512px){
                    width: 340px;
                    height: 340px;
                }
                img{
                    width: 170px;
                    position: absolute;
                    @include mq(0,512px){
                        width: 140px;
                    }
                    &.top{
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &.right{
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &.bottom{
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &.left{
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            div{
                h3{
                    font-size: 80px;
                    font-weight: 700;
                    color: $white;
                    @include mq(0,512px){
                        font-size: 40px;
                        font-weight: 400;
                        margin-top: 40px;
                        margin-bottom: 40px;
                    }
                }
            }
            .professional{
                img{
                    width: 430px;
                    @include mq(0,512px){
                        display: none;
                    }
                }
            }
        }
        .flex-container{
            width: 100%;
            text-align: center;
            justify-content: center;
            @include mq(0,512px){
                flex-direction: column;
            }
            .text-1,.text-2{
                width: 420px;
                margin-top: -70px;
                @include mq(0,512px){
                    max-width: 300px;
                }
                p{
                    font-size: 20px;
                    font-weight: 700;
                    color: $white;
                    @include mq(0,512px){
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
            .text-1{
                @include mq(0,512px){
                    display: none;
                }
            }
            .text-2{
                margin-top: -50px;
                span{
                    font-weight: 600;
                }
                p{
                    @include mq(0,512px){
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
        .btn{
            display: none;
            text-align: center;
            width: 200px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            @include mq(0,512px){
                display: block;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                margin-top: 30px;
            }
        }
    }
}
// ajcvsh