.prize{
    background: linear-gradient(180deg, rgba(21,20,72,1) 25%, rgba(59,140,204,1) 99%);
    height: 100vh;
    display:none;
    @include mq(0,512px){
        background: linear-gradient(180deg, rgba(1,15,69,1) 25%, rgba(59,140,204,1) 99%);
        width: 100%;
        overflow: hidden;
        height: 100vh;
    }
    display:none;
    .wrapper{
        max-width: 1100px;
        height: 100vh;
        @include mq(0,512px){
            max-width: 340px;
            // height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        .text-mobile{
            text-align: center;
            display: none;
            @include mq(0,512px){
                display: block;
            }
            p{
                @include mq(0,512px){
                    font-size: 14px;
                    font-weight: 400;
                    color: $white;
                    text-align: center;
                }
            }
        }
        .flex-container{
            padding-top: 70px;
            width: 100%;
            @include mq(0,512px){
                flex-direction: column;
                padding-top: 0;

            }
            .prizes{
                width: 420px;
                height: 420px;
                position: relative;
                bottom: 15px;
                @include mq(0,512px){
                    width: 330px;
                    height: 330px;
                }
                img{
                    width: 170px;
                    position: absolute;
                    transition: all 0.2s;
                    &:hover{
                        width: 185px;
                    }
                    @include mq(0,512px){
                        width: 140px;
                    }
                    &.top{
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &.right{
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &.bottom{
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &.left{
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            div{
                h3{
                    font-size: 80px;
                    font-weight: 700;
                    color: $white;
                    padding: 0 50px;
                    @include mq(0,512px){
                        font-size: 40px;
                        font-weight: 400;
                        height: 100%;
                        padding: 0;
                    }
                }
            }
            .professional{
                img{
                    width: 430px;
                    transition: all 0.2s;
                    &:hover{
                        opacity: 0.8;
                    }
                    @include mq(0,512px){
                        display: none;
                    }
                }
            }
        }
        .flex-container{
            max-width: 100%;
            text-align: center;
            justify-content: center;
            @include mq(0,512px){
                flex-direction: column;
            }
            .text-1,.text-2{
                max-width: 420px;
                margin-top: -70px;
                @include mq(0,512px){
                    width: 300px;
                }
                p{
                    font-size: 20px;
                    font-weight: 700;
                    color: $white;
                    @include mq(0,512px){
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
            .text-1{
                margin-right: 180px;
                @include mq(0,512px){
                    display: none;
                }
            }
            .text-2{
                margin-top: -50px;
                margin-left: 70px;
                span{
                    font-weight: 600;
                }
                p{
                    @include mq(0,512px){
                        font-size: 14px;
                        font-weight: 400;
                        margin-right: 50px;
                        margin-left: -50px;
                    }
                }
            }
        }
        .btn{
            display: none;
            text-align: center;
            width: 200px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            @include mq(0,512px){
                display: block;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                left: 30%;
                bottom: 20px;
            }
        }
        #login{
            position: absolute;
            display: none;
            width: 100vw;
            height: 100vh;
            z-index: 3;
            i{
                font-size: 30px;
                color: $white;
                z-index: 4;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 10%;
            }
            img{
                width: 300px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 15%;
            }
        }
    }
}