.rules{
    text-align: center;
    margin-bottom: 100px;
    .wrapper{
        h3{
            font-size: 25px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        ul{
            li{
                margin-bottom: 10px;

                span{
                    vertical-align: middle;
                    font-size: 30px;
                    font-weight: 700;
                }
            }
        }
    }
}