// Para botões, estruturas flex versáteis e cenas do género transversais a todo o website

body{
    font-family: 'Azo Sans';
}

section {
    padding:0 2%;
}

.wrapper{
    // max-width: 1280px;
    margin:0 auto;
    height: 100%;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
