// Para botões, estruturas flex versáteis e cenas do género transversais a todo o website

body{
    font-family: 'Azo Sans';
}

section {
    padding:0 2%;
    width: 100%;

}

.wrapper{
    // max-width: 1280px;
    margin:0 auto;
    height: 100%;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.btn{
    font-size: 20px;
    background-color: $crava-light;
    color: $white;
    border-radius: 15px;
    padding: 20px 60px;
    font-weight: 700;
    transition: all 0.2s;
    &:hover{
        background-color: $crava;
    }
    @include mq(0,512px){
        font-size: 18px;
        padding: 20px 30px;
        border-radius: 10px;
    }
}