// colors
<<<<<<< HEAD
$primary-color: #000000; //exemplo
$secondary-color: #000000; //exemplo


// fonts
: 'Poppins', sans-serif; //exemplo
=======
$light-blue: #4AACE4;
$white: #ffffff; 
$dark-blue: #1D1C51;
$medium-blue: #222C6E;
>>>>>>> 039644237a2221a27bcb7a810f8c36b9ecdb6d23
