/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

html, body {
  position: relative;
  height: 100%; }

body {
  font-family: 'Azo Sans'; }

section {
  padding: 0 2%; }

.wrapper {
  margin: 0 auto;
  height: 100%; }

header nav {
  background-color: black;
  width: 100%;
  position: fixed; }
  header nav div.logo {
    display: flex;
    align-items: center;
    justify-content: center; }
    header nav div.logo img {
      height: 10vh; }

.hero .wrapper form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .hero .wrapper form label {
    font-size: 30px;
    font-weight: 600;
    margin: 6px;
    height: 25px; }
  .hero .wrapper form input {
    margin: 10px;
    height: 25px; }

.premios {
  text-align: center;
  margin-bottom: 100px; }
  .premios .wrapper h2 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .premios .wrapper h3 {
    font-size: 20px;
    font-weight: 550;
    text-transform: uppercase;
    margin-bottom: 50px; }
    .premios .wrapper h3 span {
      font-size: 40px; }
  .premios .wrapper .flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .premios .wrapper .flex-container img {
      width: 250px;
      margin-top: 20px; }

.regras {
  text-align: center;
  margin-bottom: 100px; }
  .regras .wrapper h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .regras .wrapper ul li {
    margin-bottom: 10px; }
    .regras .wrapper ul li span {
      vertical-align: middle;
      font-size: 30px;
      font-weight: 700; }

.about {
  text-align: center;
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/sofiarnunes/Halls-360Project/main/img/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 2869px; }
  .about .wrapper {
    max-width: 1280px; }
    .about .wrapper h2 {
      font-size: 110px;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 22px;
      line-height: 132px;
      padding-top: 253px; }
    .about .wrapper p {
      font-size: 20px;
      color: #ffffff;
      margin-bottom: 100px;
      width: 973px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      line-height: 27.24px; }
    .about .wrapper .flex-container {
      margin-top: 180px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      .about .wrapper .flex-container .shape {
        height: 450px;
        width: 450px;
        min-width: 450px;
        overflow: hidden;
        transform: rotate(45deg);
        position: relative;
        border-radius: 30px; }
        .about .wrapper .flex-container .shape img {
          transform: rotate(-45deg);
          height: 1050px;
          position: absolute;
          bottom: -250px;
          right: -30px; }
      .about .wrapper .flex-container .info {
        max-width: 430px; }
        .about .wrapper .flex-container .info h3 {
          font-size: 80px;
          margin-bottom: 22px;
          color: #ffffff;
          line-height: 96px; }
        .about .wrapper .flex-container .info p {
          width: 426px;
          font-size: 25px;
          line-height: 30px; }
      .about .wrapper .flex-container.frst {
        margin-top: 200px; }
      .about .wrapper .flex-container.rev {
        flex-direction: row-reverse; }
    .about .wrapper .btn-default {
      padding: 20px 100px;
      background-color: red;
      font-size: 25px;
      font-weight: 600;
      letter-spacing: 3px;
      color: white;
      border-radius: 20px;
      background-color: #555555; }

footer {
  height: 50px;
  background-color: black;
  text-align: center;
  position: relative;
  bottom: -22px; }
  footer p {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
